<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PetShopDB"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PETSHOP;Integrated Security=True;" />
		<add name="cloudinaryName" connectionString="diobwysid"/>
		<add name="cloudinaryAPIKey" connectionString="555454572426171"/>
		<add name="cloudinaryAPISecret" connectionString="DCZgoI43A4qgODyx60jKnZtJXzU"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>